.portrait {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 0%;
    object-fit: cover;
}

.pub-icon {
    color: #B4D0E7;
    font-size: .81em;
    padding-right: 6px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: .5rem;
    line-height: 1.25;
    color: #16519F;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}
